<link rel="stylesheet" type="text/css" href="mat-grid-list.component.css">
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile class="mat-grid-tile">Angular</mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">Flutter</mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">Golang</mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">GCP</mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">Docker</mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">K8S</mat-grid-tile>
</mat-grid-list>